.Logo {
  height: 500px;
}

@media (max-width: 990px) {
  .Logo {
    height: 450px;
  }
}

@media (max-width: 600px) {
  .Logo {
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Logo {
    height: 300px;
  }
}
