.Logo {
  height: 450px;
  position: relative;
  top: 0px;
}

@media (max-width: 990px) {
  .Logo {
    height: 450px;
  }
}

@media (max-width: 600px) {
  .Logo {
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Logo {
    height: 300px;
  }
}

/* html {
  scroll-behavior: smooth;
} */
.anim,
.anim svg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.anim path {
  stroke-width: 1.1;
}

@media (max-width: 675px) {
  .anim,
  .anim svg {
    position: relative;
    top: -270px;
    left: -150px;
    width: 160%;
    height: 150%;
  }
  .anim path {
    stroke-width: 0.95;
  }
}

@media (max-width: 375px) {
  .anim,
  .anim svg {
    position: relative;
    top: -280px;
    left: -150px;
    width: 160%;
    height: 150%;
  }
  .anim path {
    stroke-width: 0.95;
    opacity: 0.8;
  }
}

.hackClub {
  position: relative;
  max-width: 20%;
  top: -20px;
  float: left;
  transform: rotateZ(0deg);
  z-index: 1000;
  transition: all 4s;
  animation-name: hand;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (max-width: 600px) {
  .hackClub {
    top: -10px;
  }
}

@media (max-width: 500px) {
  .hackClub {
    top: -5px;
  }
}

@media (max-width: 400px) {
  .hackClub {
    top: -7px;
    max-width: 25%;
  }
}

/* .hackClub:hover {
  animation-name: hand 4s ;
  animation-iteration-count: infinte;
} */

@keyframes hand {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-1deg);
  }
  20% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(-3deg);
  }
  40% {
    transform: rotateZ(-4deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  60% {
    transform: rotateZ(-4deg);
  }
  70% {
    transform: rotateZ(-3deg);
  }
  80% {
    transform: rotateZ(-2deg);
  }
  90% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.button {
  border-radius: 15px;
  height: 60px;
  width: 300px;
  font-size: 17px;
  background-color: #42a5f5;
  transition: all 0.5s;
}

.button:hover {
  border: 1px solid white;
  background-color: #00acc1;
}

.button img {
  max-height: 20px;
  float: left;
}

.devfolioApplyNow {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #22b573;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  /* display: -ms-flexbox;
  display: -webkit-box;
  display: flex; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  text-transform: lowercase;
  position: relative;
  margin: 45px;
  transition: all 0.2s ease-in;
}

.devfolioApplyNow:not([disabled]) {
  cursor: pointer;
}

.devfolioApplyNow:hover {
  background-color: #1e9962 !important;
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 20px;
  }
}

.tele {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #389ce9;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 20px;
  text-align: center;
  position: relative;
  margin: 10px auto;
  transform: scale(0.8);
}

.tele:hover {
  background-color: #3288ca;
}
