.mainSponsors {
  max-width: 90%;
  max-height: 90%;
}

.hackClub {
  position: relative;
  top: 55px;
  max-width: 70%;
  max-height: 70%;
}

.github {
  position: relative;
  top: 45px;
  max-width: 90%;
  max-height: 90%;
}

.ibm {
  max-width: 40%;
  max-height: 60%;
  position: relative;
  top: -30px;
}

/* .ibm {
  max-width: 40%;
  max-height: 60%;
  position: relative;
  top: -30px;
} */

.devfolio {
  position: relative;
  top: 60px;
  max-width: 95%;
  max-height: 90%;
}

.matic {
  max-width: 65%;
  max-height: 65%;
  position: relative;
  top: 25px;
}

.fold {
  max-width: 70%;
  max-height: 50%;
  position: relative;
  top: 20px;
}

.codingBlocks {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  top: 20px;
}

.stickermule {
  max-width: 80%;
  max-height: 70%;
  position: relative;
  top: 40px;
}
.voiceflow {
  max-width: 60%;
  max-height: 50%;
  position: relative;
  top: 40px;
}

.digiOcean {
  max-width: 65%;
  max-height: 65%;
  position: relative;
  top: 40px;
}

.girlGeeks {
  max-width: 60%;
  max-height: 60%;
  position: relative;
  top: 40px;
}

.jetbrains {
  max-width: 70%;
  max-height: 60%;
  position: relative;
  top: -10px;
}

.wolfram {
  max-width: 65%;
  max-height: 60%;
  position: relative;
  top: -20px;
}

.gatsby {
  max-width: 70%;
  max-height: 80%;
  position: relative;
  top: -30px;
}

.inVision {
  max-width: 60%;
  max-height: 60%;
  position: relative;
  top: 5px;
}

.ieee {
  max-width: 90%;
  max-height: 90%;
  position: relative;
  top: 10px;
}

.bugsee {
  max-width: 70%;
  max-height: 70%;
  position: relative;
  top: -50px;
}

.blkIndia {
  max-width: 75%;
  max-height: 75%;
  position: relative;
  top: -50px;
}

.rocket {
  max-width: 60%;
  max-height: 60%;
  position: relative;
  top: -30px;
}
.snap {
  max-width: 45%;
  max-height: 40%;
  position: relative;
  top: -37px;
}
.tim {
  max-width: 70%;
  max-height: 70%;
  position: relative;
  top: -65px;
}

.ninja {
  max-width: 55%;
  max-height: 60%;
  position: relative;
  top: -25px;
}

.sketch {
  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: -65px;
}

.map {
  position: relative;
  max-height: 80%;
  max-width: 70%;
  top: -70px;
}

.cloudsploit {
  position: relative;
  max-height: 60%;
  max-width: 70%;
  top: -50px;
}

.restdb {
  position: relative;
  max-height: 100%;
  max-width: 80%;
  top: -130px;
}

.balsamiq {
  position: relative;
  max-height: 60%;
  max-width: 70%;
  top: -30px;
}

.moz {
  position: relative;
  max-height: 60%;
  max-width: 78%;
  top: 20px;
}
.fbdev {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  top: 85px;
}

@media (max-width: 1200px) {
  .github {
    position: relative;
    top: 25px;
  }
  .hackClub {
    position: relative;
    top: 35px;
  }

  .devfolio {
    position: relative;
    top: 40px;
    max-width: 75%;
    max-height: 80%;
  }
  .ninja {
    max-width: 55%;
    max-height: 60%;
    position: relative;
    top: -65px;
  }
  .restdb {
    position: relative;
    max-height: 100%;
    max-width: 80%;
    top: -150px;
  }

  .balsamiq {
    position: relative;
    max-height: 60%;
    max-width: 70%;
    top: -60px;
  }
}

@media (max-width: 990px) {
  .mainSponsors {
    max-width: 70%;
    max-height: 90%;
  }

  .github {
    position: relative;
    top: 40px;
  }

  .codingBlocks {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 0px;
  }

  .rocket {
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: -10px;
  }

  .blkIndia {
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: 10px;
  }

  .snap {
    top: -20px;
    max-width: 50%;
    max-height: 50%;
  }

  .hackClub {
    position: relative;
    top: 25px;
    max-width: 60%;
    max-height: 50%;
  }

  .devfolio {
    position: relative;
  }
  .matic {
    max-width: 70%;
    max-height: 60%;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .fold {
    max-width: 55%;
    max-height: 60%;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .stickermule {
    max-width: 70%;
    max-height: 80%;
    position: relative;
    top: 15px;
  }

  .digiOcean {
    max-width: 65%;
    max-height: 65%;
    position: relative;
    top: 20px;
  }

  .girlGeeks {
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: 20px;
  }

  .jetbrains {
    max-width: 70%;
    max-height: 90%;
    position: relative;
    top: 5px;
  }

  .wolfram {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: 15px;
  }

  .gatsby {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: -10px;
  }

  .inVision {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: 23px;
  }

  .ieee {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: -5px;
  }

  .bugsee {
    max-width: 80%;
    max-height: 70%;
    position: relative;
    top: 0px;
  }

  .tim {
    max-width: 75%;
    max-height: 65%;
    position: relative;
    top: -30px;
  }

  .voiceflow {
    max-width: 60%;
    max-height: 50%;
    position: relative;
    top: 15px;
  }

  .ninja {
    max-width: 55%;
    max-height: 60%;
    position: relative;
    top: -65px;
  }
  .restdb {
    position: relative;
    max-height: 100%;
    max-width: 70%;
    top: -120px;
  }

  .balsamiq {
    position: relative;
    max-height: 60%;
    max-width: 60%;
    top: -60px;
  }

  .moz {
    position: relative;
    max-height: 70%;
    max-width: 78%;
    top: 10px;
  }
  .fbdev {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    top: 65px;
  }
}

@media (max-width: 765px) {
  .rocket {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: -60px;
  }

  .voiceflow {
    max-width: 70%;
    max-height: 60%;
    position: relative;
    top: 105px;
  }

  .snap {
    max-width: 55%;
    max-height: 45%;
    top: 0px;
  }

  .github {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }

  .matic {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: 35px;
    left: 0px;
  }

  .fold {
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: 45px;
    left: 0px;
  }

  .stickermule {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 60px;
  }

  .codingBlocks {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 50px;
  }

  .digiOcean {
    max-width: 65%;
    max-height: 65%;
    position: relative;
    top: 90px;
  }

  .jetbrains {
    max-width: 50%;
    max-height: 60%;
    position: relative;
    top: 50px;
  }

  .wolfram {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: -20px;
  }

  .gatsby {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: 20px;
  }

  .inVision {
    max-width: 60%;
    max-height: 70%;
    position: relative;
    top: 10px;
  }

  .ieee {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 20px;
  }
  .girlGeeks {
    max-width: 65%;
    max-height: 65%;
    position: relative;
    top: 10px;
  }
  .bugsee {
    max-width: 70%;
    max-height: 60%;
    position: relative;
    top: 30px;
  }

  .blkIndia {
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: -10px;
  }

  .tim {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: -70px;
  }

  .devfolio {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  .ninja {
    max-width: 65%;
    max-height: 65%;
    position: relative;
    top: -50px;
  }
  .map {
    position: relative;
    max-height: 70%;
    max-width: 70%;
    top: -120px;
  }

  .cloudsploit {
    position: relative;
    max-height: 70%;
    max-width: 70%;
    top: -80px;
  }
  .sketch {
    max-width: 40%;
    max-height: 65%;
    position: relative;
    top: -50px;
  }

  .restdb {
    position: relative;
    max-height: 80%;
    max-width: 70%;
    top: -120px;
  }

  .balsamiq {
    position: relative;
    max-height: 80%;
    max-width: 70%;
    top: -180px;
  }

  .fbdev {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    top: 0px;
  }
}

.sponsors {
  transform: scale(1);
}

.sponsors:hover {
  transform: scale(1.1) translateY(-7px);
  transition: all 0.3s;
  box-shadow: 20px #000;
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 15px;
  }

  .mlh {
    max-width: 150px;
  }
}

.under {
  width: 80px;
  height: 5px;
  border-radius: 25px;
  background-color: #22b573;
  position: relative;
  top: -20px;
}
