@media screen and (max-width: 991px){
  .sidebar-collapse .navbar-collapse:before {
    background: $info-color;
    background: white;
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px){
  .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
