.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  -webkit-perspective: 100rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 50rem;
  transition: all 1s ease;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffff00, #fdd835);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7700);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  background-position: top;
  height: 23rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.card__picture--1 {
  background-image: linear-gradient(to right, #ffff0081, #fdd83586);
}
.card__picture--2 {
  background-image: linear-gradient(to right, #ffbb0091, #ff77007a);
}
.card__picture--3 {
  background-image: linear-gradient(to right, #2998ff7c, #5543fa83);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 3rem;
  width: 62%;
}
.card__heading--span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading--span--2 {
  background-image: linear-gradient(to right, #ffbb00cc, #ff7700d3);
}
.card__heading--span--1 {
  background-image: linear-gradient(to right bottom, #ffff00c2, #fdd835c0);
}
.card__heading--span--3 {
  background-image: linear-gradient(to right bottom, #2998ffd3, #5543fad5);
}
.card__description {
  padding: 1.75rem;
  color: #777;
}
.card__description ul {
  list-style: none;
  width: 95%;
  margin: 0 auto;
}
.card__description ul li {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.8rem;
}
.card__description ul li:not(:last-child) {
  border-bottom: 1px solid darkgrey;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: black;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 7px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
    background-color: white;
  }
  .card__side {
    height: auto;
    position: relative;
    border-radius: 7;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  }
  .card__side--back {
    transform: rotateY(0);
    border-radius: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__picture {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .card__description {
    padding: 0;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 5rem 5rem 5rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
}
