.Logo {
  position: fixed;
  top: 0px;
  right: 25px;
  height: 170px;
  width: 120px;
  z-index: 1000;
  display: none;
}

@media (max-width: 990px) {
  .Logo {
    top : 0px;
    height: 140px;
    width: 80px;
    left: 65%;
  }
}

@media (max-width: 600px) {
  .Logo {
    position: absolute;
    top : 0px;
    height: 140px;
    width: 80px;
    left: 65%;
  }
}

@media (max-width: 550px) {
  .Logo {
    position: absolute;
    height: 100px;
    width: 60px;
    left: 65%;
    top: 0px;
  }
}
