.card1 {
  height: 300px;
  width: 300px;
  background-color: #22B573;
  /* background-image: linear-gradient(#29c03d, #16d881); */
  color: white;
  border-radius: 10px;
}

.img {
  max-width: 70%;
  max-height: 70%;
  margin-top: 7%;
}
