.sectionTracks {
  padding-top: 200px;
  padding-bottom: 200px;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  margin-top: -100px;
}

.card {
  width: 500px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: black;
  text-align: center;
}

.card:hover{
  transform: scale(1.05);
}

.img {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 185px;
  top: 50px;
  transition: all 0.5s;
}

.cardTitle {
  position: relative;
  top: 150px;
  font-size: 40px;
  transition: all 0.5s;
  font-weight: 100;
  display: block;
  margin-bottom: -50px;
}

.cardBody {
  position: relative;
  top: 50px;
  display: block;
  opacity: 0;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 500;
}

/* .card:hover  */
.cardTitle {
  font-size: 30px;
  font-weight: 500;
  transform: translateY(-150px);
  border-bottom: 1px solid black;
  float: left;
}

/* .card:hover  */
.cardBody {
  opacity: 1;
}

/* .card:hover  */
.img {
  height: 16%;
  width: 10%;
  left: 410px;
  top: 20px;
}

@media (max-width: 1200px) {
  .sectionTracks {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-top: -100px;
  }
}

@media (max-width: 770px) {
  .img {
    height: 15%;
    width: 15%;
    left: 380px;
    top: 20px;
  }

  .cardTitle {
    font-size: 30px;
    font-weight: 500;
    transform: translateY(-150px);
    border-bottom: 1px solid black;
    float: left;
  }

  .cardBody {
    opacity: 1;
  }

  /* .card:hover  */
  .cardTitle {
    font-size: 30px;
    font-weight: 500;
    transform: translateY(-150px);
    border-bottom: 1px solid black;
    float: left;
  }

  /* .card:hover  */
  .cardBody {
    opacity: 1;
  }

  /* .card:hover  */
  .img {
    height: 16%;
    width: 10%;
    left: 410px;
    top: 20px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 275px;
    height: 425px;
  }

  .img {
    height: 16%;
    width: 10%;
    left: 210px;
    top: 15px;
  }

  .cardTitle {
    font-size: 17px;
    font-weight: 400;
    transform: translateY(-150px);
    border-bottom: 0.5px solid black;
    float: left;
  }

  .cardBody {
    opacity: 1;
    font-size: 14px;
  }

  .sectionTracks {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    margin-top: -100px;
  }

  /* .card:hover  */
  .cardTitle {
    font-size: 17px;
    font-weight: 400;
    transform: translateY(-150px);
    border-bottom: 0.5px solid black;
    float: left;
  }

  /* .card:hover  */
  .cardBody {
    opacity: 1;
    font-size: 14px;
  }

  /* .card:hover  */
  .img {
    height: 15%;
    width: 20%;
    left: 210px;
    top: 15px;
  }
}
