.sectionMentors {
  padding-top: 200px;
  padding-bottom: 300px;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-top: -100px;
}

.card1 {
  margin-bottom: 30px;
  width: 300px;
  height: 350px;
  border-radius: 8px;
}

.card2 {
  margin-bottom: 30px;
  width: 300px;
  height: 350px;
  border-radius: 8px;
}

.card3 {
  margin-bottom: 50px;
  width: 300px;
  height: 350px;
  border-radius: 8px;
}

.card4 {
  margin-top: 50px;
  width: 300px;
  height: 350px;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .card3 {
    margin-top: 50px;
  }

  .sectionMentors {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 93%);
    margin-top: -100px;
  }
}

@media (max-width: 990px) {
  .sectionMentors {
    padding-top: 200px;
    padding-bottom: 300px;
    clip-path: polygon(0 3%, 100% 8%, 100% 100%, 0 96%);
    margin-top: -100px;
  }
}

@media (max-width: 766px) {
  .card2 {
    margin-top: 50px;
  }
  .card1 {
    margin-top: 50px;
  }
}

.cbdy {
  background-color: white;
  border-radius: 8px;
}

.under {
  width: 80px;
  height: 5px;
  border-radius: 25px;
  background-color: #fff;
  position: relative;
  top: -20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 15px;
  }

  .sectionMentors {
    padding-top: 100px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 98%);
    margin-top: -50px;
  }
}
