.hack {
  position: relative;
  top: 90px;
  left: 0;
  border: 0;
  width: 530px;
  z-index: 1000;
  margin-top: -90px;
  display: block;
}

@media (max-width: 600px) {
  .hack {
    width: 230px;
    top: 70px;
  }
}

.club {
  position: relative;
  width: 120px;
  top: -2px;
}

.Carousel {
  position: relative;
}

.text {
  color: black;
  font-size: 25px;
}

.text {
  font-size: 20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 15px;
    margin-top: 25px;
  }

  .club {
    position: relative;
    width: 80px;
    top: -2px;
  }

  .mlh {
    max-width: 150px;
  }
}

.under {
  width: 80px;
  height: 5px;
  border-radius: 25px;
  background-color: #22b573;
  position: relative;
  top: -25px;
}
