.hack {
  position: relative;
  top: 90px;
  left: 0;
  border: 0;
  width: 530px;
  z-index: 1000;
  margin-top: -90px;
}

@media (max-width: 1200px) {
  .hack {
    display: block;
  }
}

@media (max-width: 600px) {
  .hack {
    width: 230px;
    top: 70px;
  }
}

.club {
  position: relative;
  width: 120px;
  top: -2px;
}

.Carousel {
  position: relative;
}

.text {
  color: black;
  font-size: 25px;
}
