.banner {
  position: absolute;
  left: 20%;
  top: -180px;
  display: block;
  margin: 100px -200px;
  width: 400px;
  height: 60px;
  border: 1px solid #22b573;
  font-size: 20px;
  text-align: center;
  color: #000;
  background: #22b573;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -30px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid #22b573;
  border-right: 20px solid #22b573;
  border-bottom-color: #22b573;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -30px;
  border-left: 20px solid #22b573;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}
